# Redis
REDIS_VERSION=latest
REDIS_HOST=localhost
REDIS_PORT=6379

# PostgreSQL
# DATABASE_URL=postgresql://postgres:123456@localhost:5432/postgres
# POSTGRES_VERSION=latest
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=123456
# POSTGRES_DB=postgres


# Fireblocks
FIREBLOCKS_BASE_URL=https://sandbox-api.fireblocks.io # https://api.fireblocks.io
FIREBLOCKS_API_KEY=your_api_key(your_sandbox_api_key)
FIREBLOCKS_PRIVATE_KEY_PATH=/absolute/path/to/fireblocks_secret.key

